@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

   
   }

  img {
      max-width: 100%;
      height: auto;
  }

  .logo {
      line-height: 3em;
  }

 .container {
     /* width: 960px; */
     max-width: 100%;
     /* padding: 20px; */
     /* margin: 0 auto; */
     background-color:bisque; 
 }

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
}

@media (min-width: 960px) {
    .main-header .container {
        justify-content: space-between;
    }
}

footer {
    background-color: cornflowerblue;
}

.hero-section {
    height: 600px;
}

   /* .font-link {
    font-family: 'STIX Two Math', serif;
   }  */

   .quiz {
    width: 100%;
    height: auto;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
    background-color: lavender;
   }


   .btn {
       width: 150px;
       height: 50px;
   }

   .burger {
     position: absolute;
     top: 5%;
     left: 2rem;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     width: 2rem;
     height: 2 rem;
     background: transparent;
     border: none;
     cursor: pointer;
     padding: 0;
     z-index: 10;

   }

   .menu {
       width: 2rem;
       height: 0.25rem;
       background-color: turquoise;
       border-radius: 10px;
       transform: all 0.3s linear;
       position: relative;
       transform-origin: 1px;

   }

   /* Smartphones (portrait and landscape) ----------- */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) { */
    /* Styles */
    /* } */

    /* Smartphones (landscape) ----------- */
/* @media only screen and (min-width : 321px) {
    /* Styles */
    /* } */