*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }

   .font-link {
    font-family: 'STIX Two Math', serif;
   } 

   .quiz {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
    background-color: #5F9EA0;
   }

   nav {
       background-color: pink;
       

   }

   .btn {
       width: 150px;
       height: 50px;
   }