*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   }

   /* .body {
    font-family: 
   } */

   .quiz {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
    background-color: #5F9EA0;
   }

   nav {
       background-color: pink;
       display: inline-block;

   }

   .btn {
       width: 150px;
       height: 50px;
   }